  body {
    background: #8471eb;
    background: linear-gradient(to right, #e01010, #1629d3);
    
  }
color{
  color:rgb(0, 132, 255)
}

  .card-body {
    background: #7506f5;
  }
  .card-image-top {
   
  flood-color: rgb(185, 150, 150);
  }
